@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text_color {
    @apply
    text-light_text dark:text-white;
}

.btn {
    @apply
    bg-white hover:bg-gray-200 dark:hover:bg-gray-300 h-10 w-full my-4 rounded-xl font-Silkscreen font-bold text-sm;
};

.input {
    @apply
    bg-transparent_screen hover:border-r_b_color dark:hover:border-white focus:border-r_b_color dark:focus:border-white
    placeholder-primary dark:placeholder-white outline-none my-2 w-full p-2 rounded-lg;
};
